.bots {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;
  padding: 32px;
  box-sizing: border-box; 
}

.product {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;
  padding: 32px;
  box-sizing: border-box;
}

.head {
  position: relative;
  width: 100%;
  /* min-height: calc(100vh - 100px); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.headTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.headTitle h1 {
  font-size: 32px;
  line-height: 1.2;
}

.headTitle h3 {
  color: var(--color-primary);
  /* margin-bottom: 16px; */
}

.headTitle p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
}

.video {
  max-width: 90%;
  height: auto !important;
}

.alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.alerts h2 {
  margin-bottom: 16px;
}

.products svg {
  height: 40px !important;
}

.imageContainer {
  margin-top: 16px;
}

.pricingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricingText {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.pricingText h1 {
  /* margin-bottom: 24px; */
  text-transform: capitalize;
}

.managementTitle {
  margin-bottom: 16px;
  text-transform: capitalize;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayMobile {
  display: block;
}

.displayWeb {
  display: none;
}

@media (min-width: 768px) {
  .bots {
    margin-top: 100px;
    padding: 32px max(16px, 3%);
    gap: 80px;
  }
  .product {
    flex-direction: row;
    gap: 32px;
    text-align: left;
  }
  .video {
    max-width: 40%;
    height: auto !important;
  }

  .products svg {
    height: 100px !important;
  }

  .displayWeb {
    display: block;
  }

  .displayMobile {
    display: none;
  }

  .texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .texts h1 {
    font-size: 48px;
  }

  .reschedule {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
  }

  .rescheduleTexts {
    text-align: left;
    width: 50%;
  }

  .managementSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .textBlock {
    width: 50%;
    text-align: right;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .textBlock p {
    text-align: left;
  }

  .pricingSection .managementTitle {
    text-align: center;
  }
  .managementTitle {
    text-align: left;
    max-width: unset;
  }

  .head {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
    gap: 64px;
    padding: 0 24px;
  }

  .headTitle {
    align-items: flex-start;
    text-align: left;
  }

  .headTitle h1 {
    font-size: 48px;
  }

  .headTitle h3 {
    font-size: 18px;
  }

  .headTitle p {
    font-size: 18px;
  }
  .video {
    max-width: 80%;
    height: auto !important;
  }

  .media {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pricing {
    padding: 0 24px;
  }

  .pricingText {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricingText h1 {
    font-size: 42px;
    width: 80%;
  }

}

@media (max-width: 900px) {
  .bots {
    margin-top: 100px;  
  }
}


@media (min-width: 901px) {
  .headTitle h1 {
    margin-bottom: 2vh;
    margin-top: 8vh;
  }
}

@media (min-width: 1024px) {
  .bots {
    padding: 48px max(24px, 4%);
    gap: 120px;
    margin-top: 37px;
  }

  .head {
    padding: 0 48px;
  }

  .pricing {
    padding: 0 48px;
  }

  .video {
    max-width: 40%;
    height: auto !important;
  }
}

@media (min-width: 1280px) {
  .bots {
    padding: 64px max(32px, 5%);
    gap: 160px;
  }

  .head {
    padding: 0 64px;
  }

  .pricing {
    padding: 0 64px;
  }

  .video {
    max-width: 40%;
    height: auto !important;
  }

  .videoATH{
    max-width: 72%;
  }
}

@media (min-width: 1537px) {
  .video {
    max-width: 50%;
    height: auto !important;
  }

  .videoATH{
    max-width: 100%;
  }
}