.title {
  font-size: 32px;
  text-align: center;
}

.description {
  margin-top: -65px;
  text-align: center;
}

.first {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

.ctas {
  display: flex;
  justify-content: center;
  gap: 8px
}

.demonstrationButton {
  display: flex;
  gap: 8px;
}

.img {
  margin-left: 55px;
}

@media (min-width: 768px) {
  .first {
    height: calc(100svh - 100px);
    display: grid;
    align-content: center;
    justify-content: space-between;
    /* grid-template-columns: 1fr 280px; */
    grid-template-rows: 70px 150px 50px;
    grid-template-areas:
      "title img"
      "description img"
      "buttons img"
    ;
  }

  .description {
    grid-area: description;
    margin-top: 0;
    text-align: left;
    width: 550px;
  }

  .title {
    text-align: left;
    grid-area: title;
    font-size: 48px;
  }

  .img {
    height: 50vw !important;
    width: auto !important;
    grid-area: img;
    margin-left: -55px;
  }

  .ctas {
    grid-area: buttons;
    justify-content: flex-start;
    width: 100%;
  }

  .demonstrationButton {
    text-align: left;
    width: 300px;
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .img {
    margin-left: -155px;
    margin-top: 70px;

    width: auto !important;
    height: 700px !important;
  }
}