.footer {
  padding: 16px 32px;
  width: 100%;
  max-width: 1024px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-image: linear-gradient(to right, #16161600 0%, #696969 52%, #16161600 100%) 1;
  border-width: 1px;
  border-style: solid;
}

.contacts {
  display: grid;
  grid-template-rows: 40px 30px 30px 30px 30px;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
}

.contacts li {
  font-size: 10px;
}

.contacts a {
  padding-left: 8px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--color-primary);
  text-decoration: underline;
}

.linksList {
  text-align: right;
  display: grid;
  grid-template-rows: 40px 30px 30px 30px 30px;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
}

.linksList li {
  font-size: 10px;
}

.linksList a {
  padding-left: 8px;
  display: flex;
  align-items: center;
  height: 20px;
  gap: 14px;
}

.header {
  max-width: 100px;
  height: 100%;
  text-align: left;
}

.copy {
  padding-top: 16px;
  font-size: 10px;
  text-align: center;
}

.links {
  padding-left: 8px;
  margin-top: 16px;
}

.disableMobile {
  display: none;
}

.footer a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .disableMobile {
    display: grid;
  }
  
  .footer {
    width: 100%;
    max-width: 1400px;
  }

  .header {
    max-width: unset;
    width: 200px !important;
    height: auto !important;
    font-size: 32px;
  }

  .contacts,
  .linksList {
    grid-template-rows: 80px 30px 30px 30px 30px 30px 30px;
  }
}

@media (min-width: 810px) {
  .content a {
    font-size: min(2vw, 14px);
  }
}